<button class="btn btn-primary my-3">ADD</button>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>Roll Number</th>
            <th>Name</th>
            <th>Branch</th>
            <th>Email ID</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Mark</td>
            <td>cs</td>
            <td>xyz@gmail.com</td>
            <td>2019</td>
            <td><button class="btn btn-primary mx-1">Edit</button> <button class="btn btn-info mx-1">View</button><button class="btn btn-warning mx-1">Books</button></td>
        </tr>
    </tbody>
</table>