<div class="row justify-content-center">
    <div class="col-sm-7">
        <div class="card border-0 shadow-lg p-5">
            <div class="card-body">
                <h2 class="card-text pb-3 text-center">New Record</h2>
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="roll_number">
                        <label for="roll_number">Roll Number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name">
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="branch">
                        <label for="branch">Branch</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email">
                        <label for="email">Email ID</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" min="1900" max="2100" id="year">
                        <label for="year">Year</label>
                    </div>
                    <input type="submit" value="Add" class="btn btn-primary btn-block mt-5">
                    <a class="btn btn-danger bnt-block mt-5 mx-2" routerLink="/student">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>